@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexRow {
    display: flex;
    flex-direction: row;
}

@mixin flexColumn {
    display: flex;
    flex-direction: row;
}